<app-navbar
            id="navbar"
            class="navbar navbar-dark fixed-top bg-dark">
</app-navbar>

<div class="container-fluid">
  <div class="row" id="mainContent">
    <app-sidebar id="sideBar"
                 class="col-sm-3 col-md-2 d-none d-sm-block sidebar">
    </app-sidebar>

    <div class="col-sm-9 ml-sm-auto col-md-10 pt-3" id="dashboard">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="card mb-3 shadow card-theme solid" id="datepicker">
    <div class="card-header card-header-theme">
      <h5>Date Picker</h5>
    </div>
    <div class="card-body">
      <app-datepicker></app-datepicker>
      <app-monthpicker></app-monthpicker>
    </div>
  </div>
</div>
