<div class="section-container">
  <div class="row-fluid cards">
    <div class="card-deck">
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Goals</h5>
        </div>
        <div class="card-body">
          <app-goals-chart></app-goals-chart>
        </div>
      </div>
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Expenses By Company</h5>
        </div>
        <div class="card-body">
          <app-company-chart></app-company-chart>
        </div>
      </div>
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Expenses By Type</h5>
        </div>
        <div class="card-body">
          <app-type-chart></app-type-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid cards">
    <div class="card-deck">
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Expenses and Income By Dates</h5>
        </div>
        <div class="card-body">
          <app-date-chart></app-date-chart>
        </div>
      </div>
    </div>
  </div>
</div>

